/****************************************************************************************************
 * General
 */
body {
  /*background: #ffffff url(../gfx/background.png);
  background-repeat: repeat-y;*/
	font-family: avant;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
  color: #b50303;
}

/****************************************************************************************************
 * Typography
 */


p, ul, ol {

  font-size: 30px;
  line-height: 40px;

}


h1, h2, h3, h4, h5, h6 {

  font-family: 'tkachenko_sketch_4fregular', Times, serif;
  font-weight: normal;
  text-align: center;
  
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  /*border-bottom: 1px solid #cf0000;*/
  color: #cf0000;
  font-size: 70px;
  
  /*height: 264px;*/
  position: relative;
}

h1 div {
    
  font-family: 'tkachenko_sketch_4fregular';
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 0 20px;
}

h2 {
  font-size: 50px;
  letter-spacing: -2px;
  margin: 8px 0 2px;
  padding: 5px 0 2px;
}

ul, ol {
  line-height: 1.25em;
}

ul.chapter_8 li{
  margin-bottom: 5%;
}

img.right {
  float: right;
  margin: 8px -100px 8px 25px;
  padding: 15px 0 15px 0;
}
img.central 
{
display: block;
margin-right: auto;
margin-left: auto;
width: 15%;
}

img.central_big 
{
display: block;
margin-right: auto;
margin-left: auto;
width: 95%;
margin-top: 40px;
}

video.central_big
{
display: block;
margin-right: auto;
margin-left: auto;
width: 95%;
margin-top: 40px;
}


/****************************************************************************************************
 * Pages
 */
#page {
  background: #E4D5C6 url(../gfx/background.png);
  background-size: 100%;
  min-height: 1024px;
  overflow: hidden;
  margin: 0 auto;
}

/****** Blood */
#blood {
  background: transparent url(../gfx/blood.png) no-repeat;
  width: 17px;
  height: 55px;
  
  position: absolute;
  top: 0;
  right: 20px;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.blood-drop {
  background: transparent url(../gfx/blood-drop.png) no-repeat;
  display: block;
  width: 10px;
  height: 26px;
}


/****************************************************************************************************
 * Book Cover
 */
#page.cover img.central {
  display: block;
  margin: 70px auto 50px;
}

#page.cover .footer {
  text-align: center;
}

#page.cover .footer p {
  font-size: 12px;
  padding: 15px 0 5px;
}


/****************************************************************************************************
 * Book Index
 */
#page.index
{
  font-family: avant;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#page.index h1{
    background: #ffffff url(../gfx/header_background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#page.index .menu {
  margin: 55px auto;
  width: 670px;
}

#page.index .menu small {
  display: block;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

#page.index .menu ol {
  list-style: none;
  padding: 0;
}

#page.index .menu li {
  position: relative;
  padding-bottom: 40px;
  /*background: transparent url(../gfx/dots-menu.png) repeat-x -1px;*/
}

#page.index .menu li p {
  margin-bottom: -10px;
  margin-top: -10px;
}

#page.index .menu li a .count {
  background: #ffffff url(../gfx/background.png);
  padding-left: 3px;
  position: absolute;
  right: 0;
}

#page.index .menu li a {
  background: #ffffff url(../gfx/background.png);
  color: #000000;
  text-decoration: none;
  
  -webkit-transition: color 0.4s ease;
	-moz-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

#page.index .menu li a:hover {
  color: rgba(212, 239, 242, 1);
}

/****************************************************************************************************
 * Chapter
 */
#page.chapter h1 {
  font-size: 42px;
  background: #ffffff url(../gfx/header_background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*#page.chapter h1 img
{
  width: auto;
  height: auto;  
}*/

.img-responsive{
  max-width: 100%;
}

#page.chapter #content {
  min-height: 1024px;
  width: 80%;
  margin: 12px auto;
}

#page.chapter p,
#page.chapter ol,
#page.chapter ul {
  font-size: 22px;
  text-align: justify;
  text-indent: 1em;
  line-height: 1.6em;
  margin: 45px auto;
  width: 95%;
}

#page.chapter div img{
  margin-bottom: 4%;

}

#page.chapter p{
  margin: 10px auto;
}


/****************************************************************************************************
 * Media queries
 */
@media only screen and (max-device-width : 768px) and (orientation : portrait) {
  /* Rules only for iPad - Portrait */
  
}

@media only screen and (max-device-width : 1024px) and (orientation : landscape) {
  /* Rules only for iPad - Landscape */
  #page.cover img.central {
    display: none;
  }
  
  #page {
    min-height: 768px;
  }
  
  #page.cover .footer {
    margin-top: 240px;
  }
}

@font-face {
    font-family: avant;
    src: url('AVA_LL.ttf');
}




