

ul,ol{
  padding-left: 0;
  margin-left: 0;
}

img{
  margin-left: -3px;
  padding-left:0;
}

li a div{
  margin-top: -20px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

 body div{
  margin: -1px auto;
  padding: 0px 0px 0px 0px;
}
.img-responsive{
  max-width: 102%;
}