
/****************************************************************************************************
 * General
 */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 25px;
	/*background: rgba(240, 240, 240, 0.9);*/
  background: rgba(212, 205, 195, 0.9);
	border: solid;
  border-color: rgba(212, 239, 242, 1);
	width: 2050px;
}

a {
  color: #000000;
}


/****************************************************************************************************
 * Typography
 */
p, ul, ol {
  font-size: 18px;
  line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "BodoniSvtyTwoITCTT-Book", Times, serif;
  font-weight: normal;
  text-align: center;
  
  border: 0;
  margin: 0;
  padding: 0;
}

/****************************************************************************************************
 * Index
 */
#index .navigation h6,
#index .navigation ol li a small { 
  display: none;
}

#index .navigation ol {
  display: inline;
  padding: 0;
  margin-right: 60px;
}

#index .navigation h5 {
  background: #cf0000;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  
  padding: 5px;
  width: 55px;
  height: 140px;
}

#index .navigation li {
  background: #ffffff url(../images/1-01-a.gif) -30px 0;
  display: inline-block;
  
  margin-left: 30px;
  overflow: hidden;
  position: relative;
  
  padding: 0;
  width: 150px;
  height: 150px;
  
  vertical-align: top;
}

#index .navigation li a {
  font-family: annabelle;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 150px;
  height: 150px;
}

#index .navigation li a h7 {
  background: rgba(212, 239, 242, 0.9);
  font-size: 30px;
  padding-top: 8px;
  
  position: absolute;
  bottom: 0;
  right: 0;
  
  width: 40%;
  height: 45px;
}


/****** Images */
#index .navigation li.p1-01 { background: #ffffff url(../images/01.jpg) ; }
#index .navigation li.p1-02 { background: #ffffff url(../images/02.jpg) ; }
#index .navigation li.p1-03 { background: #ffffff url(../images/03.jpg) ; }
#index .navigation li.p1-04 { background: #ffffff url(../images/04.jpg) ; }
#index .navigation li.p1-05 { background: #ffffff url(../images/05.jpg) ; }
#index .navigation li.p1-06 { background: #ffffff url(../images/06.jpg) ; }
#index .navigation li.p1-07 { background: #ffffff url(../images/07.jpg) ; }
#index .navigation li.p1-08 { background: #ffffff url(../images/08.jpg) ; }
#index .navigation li.p1-09 { background: #ffffff url(../images/09.jpg) ; }
#index .navigation li.p1-10 { background: #ffffff url(../images/10.jpg) ; }
#index .navigation li.p1-11 { background: #ffffff url(../images/11.jpg) ; }


@font-face {
    font-family: annabelle;
    src: url('Annabelle.ttf');
}




